$primary-font-color: #000000;
$secondary-font-color: #444444;
$additional-products-name-color: #222222;
$main-background-color: #ffffff;
$background-font-color: #ffffff;
$product-item-background-color: #f2f2f2;
$description-item-background-color: #f2f2f2;
$show-more-button-background-color:#f2f2f2;
$product-item-name-color:#222222;
$product-item-button-text-color: #ffffff;
$programm-choose-type-form-label-color: #222222;
$real-example-background-color: #eaeaea;
$button-background-color: #68b738;
$button-text-color: #ffffff;
$footer-background-color: #f2f2f2;
$slider-color: #666666;
