$primary-font-color: #000000;
$secondary-font-color: #444444;
$additional-products-name-color: #222222;
$main-background-color: #ffffff;
$background-font-color: #ffffff;
$description-item-background-color: #d9d9d9;
$product-item-name-color:#222222;
$product-item-button-text-color: #ffffff;
$programm-choose-type-form-label-color: #222222;
$real-example-background-color: #eaeaea;
