.contact-info-form{
  padding: 26px 20px 22px 20px;
}

.contact-info-form__header {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.contact-info-form__label {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
