.gift {
  margin: 0 auto;
  padding: 35px 20px;
  min-height: 290px;
  background-image: url("../../img/gift-image-background.png");
  background-repeat: no-repeat;
}

.gift__text {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
