.programm-choose-form {
  padding: 27px 20px 19px;
}

.programm-choose-form__header{
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.programm-choose-form__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.form-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
