.real-example-result {
  margin: 0 auto;
  margin-top: 20px;
}

.real-example-result__item {
  border: #CDCDCD solid 1px;
  margin-bottom: 20px;
  min-width: 124px;
  max-width: 164px;
}

.result-item__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.result-item__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

.result-costs__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
