.additional-products {
  position: relative;
  width: 100%;
  background-color: $main-background-color;

  &::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 20%;
    height: 2px;
    top: 45px;
    left: 80%;
  }
}

.additional-products__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;

  &::after {
    position: absolute;
    content: "";
    background-color: #ebebeb;
    box-shadow:
      0 135px 0 0 #ebebeb,
      0 270px 0 0 #ebebeb,
      0 405px 0 0 #ebebeb,
      0 540px 0 0 #ebebeb;
    width: 88%;
    height: 1px;
    top: 50px;
  }
}

.additional-products__header {
  position: relative;
  margin: 0;
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 25px;
  padding: 0;
  margin: 0;
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.additional-products__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $additional-products-name-color;
  text-transform: uppercase;
}

.additional-products__description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 15px;
}

.additional-products__description {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $secondary-font-color;
}

.additional-products__button {
  padding: 10px 109px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .additional-products {
    &::after {
      top: 55px;
      width: 49%;
      left: 55%;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: #68b738;
      width: 8%;
      height: 2px;
      top: 55px;
      left: -5%;
    }
  }

  .additional-products__container {
    padding: 0;
    margin-top: 0;
    align-items: flex-start;

    &::after {
      display: none;
    }
  }

  .additional-products__header {
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 37px;
    font-size: 36px;
    line-height: 1;
    text-align: left;
  }

  .additional-products__list {
    position: relative;
    border: 1px solid #cdcdcd;
    width: 89%;
    padding: 15px 38px 25px;
    row-gap: 35px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 140px;
      right: 0;
      box-shadow:
        0 140px 0 0 #cdcdcd,
        0 280px 0 0 #cdcdcd;
      background-color: #cdcdcd;
    }
  }

  .additional-products__text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .additional-products__name {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__description-container {
    column-gap: 55px;
    justify-content: flex-end;
  }

  .additional-products__description {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__button {
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 85px;

    &::before {
      top: 70px;
      width: 7%;
      left: -10%;
    }

    &::after {
      top: 70px;
      width: 79%;
      left: 30%;
    }
  }

  .additional-products__container {
    width: 73%;
    flex-grow: 1;
    margin: 0;
    margin-top: 10px;
  }

  .additional-products__header {
    margin-left: 0;
  }

  .additional-products__list {
    width: 100%;
    border: none;
    row-gap: 0;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .additional-products__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 11px 0;
    border-top: 1px solid #ebebeb;

    &:last-child {
      border-bottom: 1px solid #ebebeb;
    }
  }

  .additional-products__text-container {
    width: 610px;
  }

  .additional-products__description-container {
    flex-direction: row;
    justify-content: space-between;
    width: 285px;
  }

  .additional-products__button {
    padding: 8px 0;
    margin: 0;
  }
}
