.additional-products__container {
  margin: 0 auto;
}

.additional-products__header {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

.additional-products__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $additional-products-name-color;
  text-transform: uppercase;
}

.additional-products__description {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color:$secondary-font-color;
}

.additional-products__button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .additional-products {
    display: flex;
  }
}
