.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  padding: 10px 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $secondary-font-color;
  text-decoration: none;
}

.address--catalog,
.address--form {
  background-color: #f2f2f2;
  padding: 20px 20px;
}

.address__text--street {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.address__text--street br {
  display: none;
}

@media (min-width: $tablet-width) {
  .address {
    width: calc(100% - 140px);
    padding: 56px 70px;
    justify-items: stretch;
    margin: 0 auto;
  }

  .address__text {
    font-size: 20px;
    line-height: 26px;
  }

  .address__text--street br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: absolute;
    z-index: 4;
    padding: 45px 80px;
    width: 405px;
    top: 95px;
    left: 110px;
    background-color: $main-background-color;
  }

  .address--catalog,
  .address--form {
    padding: 55px 80px;
  }
}
