.catalogue__container {
  padding: 27px 20px 25px;
  background: $main-background-color;
}

.catalogue__header {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalogue__product-list {
  list-style-type: none;
}

.catalogue__product-item {
  padding: 11px 20px 14px;
}
