.catalogue {
  width: 100%;
}

.catalogue__container {
  position: relative;
  width: 100%;
  background: $main-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    background-color: #ebebeb;
    box-shadow:
      0 205px 0 0 #ebebeb,
      0 420px 0 0 #ebebeb,
      0 625px 0 0 #ebebeb,
      0 835px 0 0 #ebebeb,
      0 1035px 0 0 #ebebeb,
      0 1240px 0 0 #ebebeb,
      0 1455px 0 0 #ebebeb,
      0 1670px 0 0 #ebebeb;
    width: 100%;
    height: 1px;
    top: 102px;
  }
}

.catalogue__header {
  position: relative;
  margin: 0;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalogue__product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .catalogue {
    margin-top: 60px;
    width: 100%;
  }

  .catalogue__container {
    align-items: flex-start;

    &::after {
      display: none;
    }
  }

  .catalogue__product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 130px;
    align-items: stretch;
    padding: 0;
    margin-top: 80px;
  }

  .catalogue__header {
    margin: 0;
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalogue {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .catalogue__product-list {
    display: grid;
    width: 100%;
    row-gap: 135px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .catalogue__product-item {
    width: 180px;
    padding: 0 30px 40px 35px;
  }
}
