.catalogue {
  width: 100%;
}

.catalogue__container {
  position: relative;
  width: 100%;
  background: $main-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    background-color: #ebebeb;
    box-shadow:
      0 209px 0 0 #ebebeb,
      0 418px 0 0 #ebebeb,
      0 610px 0 0 #ebebeb,
      0 810px 0 0 #ebebeb,
      0 1000px 0 0 #ebebeb,
      0 1200px 0 0 #ebebeb,
      0 1400px 0 0 #ebebeb,
      0 1610px 0 0 #ebebeb;
    width: 100%;
    height: 1px;
    top: 102px;
  }
}

.catalogue__header {
  position: relative;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 49px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalogue__product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 33px;
  list-style-type: none;
  padding: 0;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalogue__product-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .catalogue {
    margin-top: 65px;
    width: 100%;
  }

  .catalogue__container {
    align-items: flex-start;

    &::after {
      display: none;
    }
  }

  .catalogue__product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
    align-items: stretch;
    padding: 0;
  }

  .catalogue__header {
    margin-top: 0;
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .catalogue__product-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .catalogue__product-item {
    width: 180px;
    padding: 0 30px 40px 35px;
  }
}
