.choose-programm-text {
  z-index: 1;
  min-width: 100%;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $main-background-color;
}

.choose-programm-text__description {
  margin: 0;
  margin-bottom: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
}

.choose-programm-text__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.choose-programm-text__button {
  width: 90%;
  padding: 7px 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}

@media (min-width: $tablet-width) {
  .choose-programm-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $primary-font-color;
    padding: 0;
    margin-left: 30px;
    min-width: 414px;
  }

  .choose-programm-text__description {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 41px;
  }

  .choose-programm-text__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 49px;
  }

  .choose-programm-text__image {
    display: none;
  }

  .choose-programm-text__button {
    margin-bottom: 529px;
    width: 50%;
    padding: 14px 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .choose-programm-text__description {
    margin-bottom: 40px;
  }

  .choose-programm-text__slogan {
    margin-bottom: 52px;
  }

  .choose-programm-text__button {
    min-width: 244px;
    margin-bottom: 0;
  }
}
