.choose-programm__container {
  position: relative;
  width: 100vw;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-background-color;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-font-color;
}

@media (min-width: $tablet-width) {
  .choose-programm__container {
    min-width: 709px;
    width: 92%;
    margin-top: 62px;
    color: $primary-font-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("../../img/index-can-tablet\ 1.png");
    background-repeat: no-repeat;
    background-size: 709px 609px;
    background-position: left bottom 50px;
  }
}

@media (min-width: $desktop-width) {
  .choose-programm {
    min-width: 1220px;
    width: 85%;
    align-self: flex-start;
    margin-left: 10%;
  }

  .choose-programm__container {
    padding-left: 0;
    background-size: 522px 499px;
    background-position: 60%;
  }
}
