.comment-form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.comment-form__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.comment-form__input {
  min-width: 280px;
  min-height: 150px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $secondary-font-color;
}
