.comment-form {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 52%;
    width: 55%;
    height: 2px;
    background-color: #68b738;
  }
}

.comment-form__header {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.comment-form__input {
  outline: 1px solid #e7e7e7;
  border: none;
  min-width: 255px;
  width: calc(100% - 24px);
  height: 150px;
  padding: 9px 12px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $secondary-font-color;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .comment-form {
    margin-top: 50px;
    margin-bottom: 65px;

    &::before {
      right: -12%;
      top: 20px;
      width: 60%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: -15%;
      width: 10%;
      height: 2px;
      background-color: #68b738;
    }
  }

  .comment-form__header {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .comment-form__input {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .comment-form {
    margin-top: 50px;
    margin-bottom: 69px;

    &::before {
      width: 85%;
      left: 20%;
      top: 20px;
    }

    &::after {
      width: 10%;
      left: -15%;
      top: 20px;
    }
  }
}
