.contact-info-form {
  position: relative;
  width: 100%;
  margin-top: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 70%;
    width: 37%;
    height: 2px;
    background-color: #68b738;
  }
}

.contact-info-form__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contact-info-form__header {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.contact-info-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  color: $secondary-font-color;
  text-transform: uppercase;
}

.contact-info-form__input {
  flex-grow: 1;
  outline: 1px solid #cdcdcd;
  border: none;
  padding: 14px 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }
}

.contact-info-form__input:focus + .contact-info-form__icon {
  stroke: #68b738;
}

.contact-info-form__input:invalid + .contact-info-form__icon {
  stroke: #ff8282;
}

.contact-info-form__icon {
  stroke: #000000;
}

.contact-info-form__label--email {
  position: relative;
}

.contact-info-form__icon--email {
  position: absolute;
  right: 20px;

  @media (min-width: $tablet-width) {
    right: 10px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.contact-info-form__label--phone {
  position: relative;
}

.contact-info-form__icon--phone {
  position: absolute;
  right: 20px;

  @media (min-width: $tablet-width) {
    right: 10px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .contact-info-form {
    margin-top: 80px;

    &::before {
      left: 89%;
      top: 20px;
      width: 23%;
    }
  }

  .contact-info-form__container {
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: -15%;
      width: 9%;
      height: 2px;
      background-color: #68b738;
    }
  }

  .contact-info-form__header {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .contact-info-form__header br {
    display: none;
  }

  .contact-info-form__label {
    margin-bottom: 20px;
    gap: 22px;
  }

  .contact-info-form__label,
  .contact-info-form__input {
    font-size: 20px;
    line-height: 30px;
  }

  .contact-info-form__input {
    padding: 11px 20px;
  }
}

@media (min-width: $desktop-width) {
  .contact-info-form {
    margin-top: 70px;

    &::before {
      width: 62%;
      left: 45%;
    }
  }

  .contact-info-form__header {
    margin-bottom: 75px;
  }

  .contact-info-form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;

    &::after {
      width: 10%;
      left: -15%;
      top: 20px;
    }
  }
}
