.description-item {
  width: 240px;
  position: relative;
  background-color: $description-item-background-color;
  padding: 24px 20px;
}

.description-item--slim {
  background-image: url("../img/icons/catalog-slim-icon.svg");
  background-repeat: no-repeat;
  background-position: 25px 10px;
  background-size: 50px 53px;
}

.description-item--pro {
  background-image: url("../img/icons/catalog-pro-icon.svg");
  background-repeat: no-repeat;
  background-position: 10px 20px;
  background-size: 65px 50px;
}

.description-item__title {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $primary-font-color;
  text-transform: uppercase;
  text-align: left;
}

.description-item__description {
  position: relative;
  margin: 0;
  margin-bottom: 38px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-font-color;

  &::after {
    content: "";
    position: absolute;
    top: 110px;
    left: 0;
    background-color: #d9d9d9;
    width: 100%;
    height: 1px;
  }
}

.description-item__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}

.description-item__arrow-icon {
  margin-left: 15px;
  width: 24px;
}

.description-item__link:hover .description-item__arrow-icon,
.description-item__link:active .description-item__arrow-icon {
  width: 32px;
}

@media (min-width: $tablet-width) {
  .description-item {
    width: 93%;
    margin: 0 auto;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 53px;
    padding-right: 0;
    align-items: flex-start;
  }

  .description-item--slim {
    background-size: 200px 211px;
    background-position: 88% center;
  }

  .description-item--pro {
    background-position: 93% 105px;
    background-size: 268px 200px;
  }

  .description-item__title {
    width: 330px;
    margin-left: 0;
    margin-bottom: 22px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .description-item__title--pro {
    margin-top: 20px;
  }

  .description-item__description {
    width: 330px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;

    &::after {
      display: none;
    }
  }

  .description-item__description br {
    display: none;
  }

  .description-item__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .description-item {
    max-width: 457px;
    padding-top: 41px;
    padding-left: 52px;
    padding-right: 61px;
    padding-bottom: 55px;
  }

  .description-item--pro {
    background-size: 134px 100px;
    background-position: 30px 40px;
  }

  .description-item--slim {
    background-size: 100px 106px;
    background-position: 50px 35px;
  }

  .description-item__title {
    margin-top: 30px;
    margin-left: 80px;
    text-align: center;
    margin-bottom: 73px;
  }

  .description-item__title--pro {
    margin-left: 100px;
  }

  .description-item__description {
    width: 450px;
    margin-bottom: 30px;
  }

  .description-item__description br {
    display: none;
  }
}
