
.hero-block-background-image {
  background-image: url("../img/index-background-desktop.png");
  position: absolute;
  max-height: 302px;
  top: 10px;
  width: 100vw;
  background-color: rgba(104, 183, 56, 1);
  background-size: 100%;
}

.hero-block-background-image__cat {
  width: 100%;
  max-height: 302px;
  opacity: 0.3;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .hero-block-background-image {
    display: none;
  }
}
