.logo {
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  align-self: center;
}

.logo__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__link:hover {
  & .logo__image {
    opacity: 0.8;
  }

  & .logo__text {
    opacity: 0.8;
  }
}

.logo__link:active {
  & .logo__image {
    opacity: 0.5;
  }

  & .logo__text {
    opacity: 0.5;
  }
}

.logo__text {
  height: 18px;
  width: 101px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .logo {
    margin: 0;
    min-height: 52px;
    width: 174px;
  }

  .logo__image {
    width: 174px;
    height: 52px;
  }

  .logo__text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin: 0;
    width: 202px;
  }

  .logo__image {
    width: 202px;
    height: 59px;
  }
}
