.main-header {
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $primary-font-color;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
    width: 92%;
    padding: 17px 30px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $primary-font-color;
    background: $main-background-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
    width: calc(100% - 220px);
    padding: 54px 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/background-images/heroblock-background-cat.png");
      width: 720px;
      height: 694px;
      top: 0;
      right: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-images/heroblock-background-cat@2x.png");
        background-size: 720px 694px;
      }
    }
  }

  .main-header--form,
  .main-header--catalog {
    &::before {
      display: none;
    }
  }
}
