.main-footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $main-background-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $primary-font-color;
}

.main-footer__container--index {
  width: 320px;
  margin: 0 auto;
}

.main-footer__social {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-footer__lower-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: $footer-background-color;
}

.main-footer__link {
  width: auto;
  margin: 0 auto;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-footer__logo {
  position: relative;
  margin-bottom: 43px;

  &::after {
    content: "";
    position: absolute;
    width: 281px;
    height: 2px;
    background-color: #d9d9d9;
    top: 40px;
    right: 50%;
    transform: translate(50%);
  }
}

.main-footer__image {
  width: 129px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .main-footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $main-background-color;
  }

  .main-footer__lower-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
  }

  .main-footer__logo {
    margin: 0;

    &::after {
      content: "";
      display: none;
    }
  }

  .main-footer__link {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__container {
    position: relative;
    width: 100%;
    padding: 0;
    background-color: $footer-background-color;
  }

  .main-footer__lower-content {
    padding: 55px 110px;
  }
}
