.main-header {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  background: $main-background-color;
  text-decoration: none;
  text-transform: uppercase;
}
