.product-item {
  padding: 11px 20px 14px;
}

.product-item__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $product-item-name-color;
}

.product-item__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $secondary-font-color;
}

.product-item__button {
  font-size: 16px;
  line-height: 20px;
  color: $product-item-button-text-color;
  text-transform: uppercase;

  &--show-more {
    color: $primary-font-color;
  }
}
