.programm-choose-type-form {
  padding:20px 25px 20px 20px;
}

.programm-choose-type-form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $programm-choose-type-form-label-color;
  text-transform: uppercase;
}
