.programm-description {
  width: 100%;
}

.programm-description__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 20px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .programm-description__container {
    min-width: 708px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 30px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .programm-description {
    width: 100%;
  }

  .programm-description__container {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
