.programm-choose-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.programm-choose-form__header {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $primary-font-color;
}

.programm-choose-form__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  &--warning {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: initial;
  }
}

.programm-choose-form__container {
  display: flex;
  flex-direction: column;
}
