.programm-choose-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
  padding: 0 20px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 355px;
    left: -5px;
    background-color: #d9d9d9;
    box-shadow: 0 160px 0 0 #d9d9d9;
  }
}

.programm-choose-form__header {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $primary-font-color;
  align-self: flex-start;
}

.programm-choose-form__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  align-self: flex-start;
  margin: 0;

  &--warning {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: initial;
    align-self: center;
  }
}

.programm-choose-form__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .programm-choose-form {
    padding: 0;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 55px;

    &::before {
      display: none;
    }
  }

  .programm-choose-form__header {
    font-size: 60px;
    line-height: 1;
    margin: 0;
    margin-bottom: 54px;
    align-self: flex-start;
  }

  .programm-choose-form__text {
    margin: 0;
    font-size: 20px;
    line-height: 30px;

    &--warning {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programm-choose-form {
    margin-top: 20px;
    margin-left: 0;
    width: 1220px;
  }

  .programm-choose-form__header {
    margin-bottom: 56px;
  }
}
