.real-example-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.real-example-result__numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.real-example-result__item {
  margin-bottom: 20px;
  min-width: 124px;
  background-image: url("../../../img/icons/result-number-border.svg");
  background-repeat: no-repeat;
}

.real-example-result__number {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.result-example-result__text {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $primary-font-color;
}


@media (min-width: $tablet-width) {
  .real-example-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 167px;
  }
}

@media (min-width: $desktop-width) {
  .real-example-result {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .real-example-result__numbers {
    column-gap: 42px;
  }
}
