.result-costs {
  margin-top: 9px;
}

.result-costs__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.result-costs__text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .result-costs {
    display: flex;
    margin-top: -35px;
  }

  .result-costs__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .result-costs__text br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .result-costs {
    margin: 0;
    margin-top: 40px;
  }

  .result-costs__text br {
    display: none;
  }
}
