$primary-font-color: #000000;
$secondary-font-color: #444444;
$additional-products-name-color: #222222;
$main-background-color: #FFFFFF;
$background-font-color: #FFFFFF;
$description-item-background-color: #D9D9D9;
$product-item-name-color:#222222;
$product-item-button-text-color: #FFFFFF;
$programm-choose-type-form-label-color: #222222;
$real-example-background-color: #EAEAEA;
